.git
.gitignore
.env
.env.*
!.env.example
storage/app/firebase
storage/logs/*.log
public/storage
node_modules
vendor
public/build
public/hot
.phpunit.cache
.phpunit.result.cache
tests
load-testing/results
docker-compose.yml
Dockerfile
.dockerignore
.idea
.vscode
